
doctype html
html
    head
        style
            include style.css
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        <title>Example</title>
    body
        div.bg
            nav.navbar.navbar-inverse
            h2 Task3
            h4 Format: after lab3/ add this string task3?Text1=2000&Text2=2500&Text3=3000&Text4=4000
            ul.nav
                li
                    a(href='/api/ShuvalovSasha/lab1/lab3/task3?Text1=2000&Text2=2500&Text3=3000&Text4=4000') If you want see test format, you can press this
                li
                    a(href='/logout') Logout
            include footer.pug
