extends layout

block content
        h1 Lab number 3 auth with passport js
        ul.nav
            li
                a(href = 'https://www.youtube.com/') If you want see sth interesting you can press this
            li
                a(href = 'https://bootstrap-4.ru/') This is very good resource for style
            li
                a(href = 'https://github.com/Hittry?tab=repositories') My GitHub repositories
