doctype html
html
    head
        style
            include style.css
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        title=title
    body
        div.bg
            nav.navbar.navbar-inverse
            h1 Congratulations
            <h1>#{message}</h1>

            include footer.pug

